.product-wrapper{
  border-style: ridge;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}


.btn-share{
  position: relative;
  display: block;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/