    <h1>Hola, Mundo!</h1> <!-- La etiqueta <h1> crea un título. -->
    <!-- También tenemos subtítulos para <h1> desde la más importante <h2> a la más precisa <h6> -->
    <a href = "http://codepen.io/anon/pen/xwjLbZ">ven mira lo que esto muestra.</a> <!-- Un hipervínculo a la URL dada por el atributo href="" -->
    <p>Esto es un párrafo.</p> <!-- La etiqueta <p> nos permite incluir texto en nuestra página HTML -->
    <p>Este es otro párrafo.</p>
    <ul> <!-- La etiqueta <ul> crea una lista de viñetas -->
    <!-- Para tener una lista numerada usamos la etiqueta <ol> dando 1. para el primer elemento, 2. para el segundo, etc. -->
        <li>Este es un elemento de una lista no numerada (lista de viñetas)</li>
        <li>Este es otro ítem</li>
        <li>Y este es el último ítem de la lista</li>
    </ul>

